{{define "article"}}
    <div class="bg-white shadow-md rounded mb-4">
        <div class="p-4">
            <h3 class="text-xl font-semibold mb-2">{{.Title}}</h3>
            <p class="text-gray-700">{{.Content}}</p>
        </div>
    </div>
{{end}}