{{define "articles"}}
    {{ if .Error }}
        <p class="bg-red-300 shadow-md rounded p-4 mb-4" >{{ .Error }}</p>
    {{end }}
    {{if not .Articles}}
        <p class="bg-white shadow-md rounded p-4 mb-4" >No articles available</p>
    {{else}}
        {{range .Articles}}
            {{template "article" .}}
        {{end}}
    {{end}}

    {{template "create_article" .}}
{{end}}